.status_container {
    display: flex;
    flex-direction: row;
    max-width: 350px;
    gap: 8px;
}

.status_box {
    white-space: break-spaces;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: whitesmoke;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    padding: 4px 8px 4px 8px;
    width: 230px;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    box-shadow: 3px 3px #1a1a1a;
    transition: all 0.2s ease-in-out;
}

.sign_out_button {
    background-color: whitesmoke;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    padding: 4px 8px 4px 8px;
    width: 120px;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    box-shadow: 3px 3px #1a1a1a;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sign_out_button:hover {
    background-color: #ffc900;
}

.sign_out_button:active {
    box-shadow: 0px 0px #1a1a1a;
    transform: translate(3px, 3px);
}

.sign_in_button {
    background-color: whitesmoke;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    padding: 4px 8px 4px 8px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    box-shadow: 3px 3px #1a1a1a;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sign_in_button:hover {
    background-color: #ffc900;
}

.sign_in_button:active {
    box-shadow: 0px 0px #1a1a1a;
    transform: translate(3px, 3px);
}