.layout_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blockchain_filter_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.blockchain_filter_select {
  border: 2px solid var(--color-fg-default);
  color: var(--color-fg-default);
  margin: 8px 0px 16px 8px;
  padding: 4px 4px 4px 4px;
  box-shadow: 3px 3px black;
  font-size: 16px;
  text-transform: capitalize;
}

.blockchains_container {
  display: grid;
  gap: 15px 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.blockchains_item {
  border: 2px solid #1a1a1a;
  margin: 5px 5px 5px 0px;
  padding: 10px 14px 14px 10px;
  box-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockchains_item_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.blockchains_item_desc {
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  height: 60px;
  margin-top: 16px;
}

.blockchains_cta_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

/* .blockchains_cta_box {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.blockchains_item_learn_more {
  background-color: whitesmoke;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  width: 150px;
  text-align: center;
}

.blockchains_item_web {
  background-color: whitesmoke;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  width: auto;
  text-align: center;
} */

.cta_learn_more {
  background-color: whitesmoke;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.blockchains_social_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.blockchains_item_cta {
  background-color: whitesmoke;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.blockchains_item_title {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  /* white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
  border-bottom: 1px solid #1a1a1a;
}

.blockchains_item_chains_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blockchains_item_chains_label {
  font-size: 16px;
  font-weight: bold;
}

.blockchains_item_badge_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.blockchains_item_tech_badge_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.blockchains_item_chain {
  background-color: #ffc900;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
}

.blockchains_item_tech_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.blockchains_item_tech_label {
  font-size: 16px;
  font-weight: bold;
}


.blockchains_item_tech {
  background-color: #ffc900;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
}

.blockchains_load_more_button {
  background-color: whitesmoke;
  color: #1a1a1a;
  border: 2px solid #1a1a1a;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  box-shadow: 3px 3px #1a1a1a;
  cursor: pointer;
}

.blockchains_load_more_button:active {
  box-shadow: 0 0 #1a1a1a;
  transform: translate(3px, 3px);
}

.image_name_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
