.announcement {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-left: 10px solid #4db6fd;
    border-radius: 0.25rem;
    font-size: 14px;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-left: 10px solid #ffc107;
    border-radius: 0.25rem;
    font-size: 14px;
}