.accordion {
  margin-bottom: 16px;
}

.accordion_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid #1a1a1a;
}

.accordion_title:hover {
  background-color: #ffc900;
}

.accordion_title,
.accordion_content {
  padding: 1rem;
}

.accordion_content {
  background-color: whitesmoke;
}

.accordion_cta {
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    box-shadow: 3px 3px #1a1a1a;
    cursor: pointer;
    margin: 8px 0px 8px 0px;
    padding: 8px 8px 8px 8px;
    font-size: 16px;
    width: fit-content;
    gap: 8px;
}