.layout_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reading_list_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* flex-direction: column; */
    gap: 24px;
}

.reading_item_container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 8px 8px 8px 8px;
    border: 2px solid #1a1a1a;
    box-shadow: 3px 3px #1a1a1a;
    cursor: pointer;
}

.reading_list_item_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reading_tags_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin: 8px 0px 8px 0px;
}

.reading_tag {
    background-color: #ffc900;
    color: #1a1a1a;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    width: fit-content;
}

.reading_details_container {
    display: flex;
    flex-direction: column;
    /* last item goes to the bottom */
    justify-content: space-between;
}


.reading_title {
    font-size: 20px;
    font-weight: bold;
    color: #1a1a1a;
    /* height: 88px; */
    /* margin-bottom: 16px; */
    /* white-space: break-spaces;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.reading_timestamp {
    font-size: 12px;
    color: #909090;
}

.reading_author_name {
    background-color: #48d19b;
    color: #1a1a1a;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    width: fit-content;
}

.reading_anchor_tag {
    text-decoration: none !important;
}

.reading_anchor_tag:hover {
    text-decoration: none !important;
}