.thumbnail_image_container {
    margin: 24px 0 24px 0;
    position: relative;
    object-fit: contain
}

.page_nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.article_info_container {
    display: flex;
    flex-direction: row;
    padding: 16px 16px 16px 16px;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.article_tag_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 16px 0 8px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.article_tag {
    background-color: #e0e0e0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
}

.blog_grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 8px;
}

.ul_good {
    list-style: none;
    padding-left: 0 !important;
}

.ul_good li {
    position: relative;
    padding-left: 2em;
}

.ul_good li:before {
    content: "✅";
    position: absolute;
    left: 0;
}

.ul_bad {
    list-style: none;
    padding-left: 0 !important;
}

.ul_bad li {
    position: relative;
    padding-left: 2em;
}

.ul_bad li:before {
    content: "❌";
    position: absolute;
    left: 0;
}


